body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

table,
td,
th {
  padding: 5px;
  border: 1px solid;
}

th:nth-child(3) {
  width: 50%;
}
tr {
  background-color: #f2f2f2;
  line-height: 20px;
  width: 50%;
  word-break: break-word;
}
th {
  background-color: #04aa6d;
  color: white;
  height: 50px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
